.accordion-list {
  border-width: 1px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #fff;
}
.accordion-item {
  border-bottom-width: 1px;

  &:last-child {
    border-bottom-width: 0;
  }
  &-header {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 1rem 1.5rem;
  }
  &-content {
    color: config('colors.grey-darkest');
    font-size: 1rem;
    line-height: 1.5;
    border-top-width: 1px;
    padding: 1rem 1.5rem;
  }
}
