.v-card {

  &-wrapper {
    max-width: 50px;
    flex: 0 1 380px;
    &-github {
      width: 280px;
    }
  }
  &-header {
    &-link {
    }
  }

  &-body {
  }

  &-footer {
  }
}

a.card-header-link {
  @apply .text-indigo-darker;
}

