.v-card {
  // @apply .shadow-lg;

  &-wrapper {
    max-width: 400px;
    flex: 0 1 380px;
    &-github {
      width: 280px;
    }
  }
  &-header {
    // @apply .py-4;
    &-link {
    }
  }

  &-body {
  }

  &-footer {
    // @apply .py-4;
  }
}

a.card-header-link {
  @apply .text-indigo-darker;
}
