.hero {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: -170px 0;
  position: relative;
  height: 350px;

  @screen md {
    background-size: 1200px;
  }

  @screen lg {
    background-size: cover;
    height: 450px;
    background-position: top;
  }

  .container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero {
  &.page-heading {
    color: white;
    min-height: 90px;
    height: Initial !important;
    max-height: 350px;
    background-image: linear-gradient(
      141deg,
      rgba(62, 66, 100, 0.6509803921568628),
      rgba(32, 35, 58, 0.75),
      71%,
      rgba(62, 66, 100, 0.6509803921568628)
    );

    @screen md {
      min-height: 125px;
    }
    .container {
      position: relative;
    }

    .headline {
      @apply .my-2 .py-2;
    }
  }
}
