.hero {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: -170px 0;
  position: relative;
  height: 350px;

  @media (min-width: 750px) {
    background-size: 1200px;
  }
  @media (min-width: 1050px) {
    background-size: cover;
    height: 450px;
    background-position: top;
  }

  .container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero {
  &.page-heading {
    color: white;
    min-height: 90px;
    height: Initial !important;
    max-height: 350px;
    background-image: linear-gradient(141deg, #3e4264a6, rgba(32, 35, 58, 0.75), 71%, #3e4264a6);

    .container {
      position: relative;
    }

    .headline {
      @apply .my-2 .py-2;
    }
  }
}

@screen md {
  .hero.page-heading {
    min-height: 125px;
  }
}
