@import 'mini-reset';
@import 'variables';
@import 'base';
@import 'buttons';


.container.siteContent {
  padding: 1em;

  @media(min-width: 1000px) {
    padding: 2em;
  }
}

div.hero {
  background: url('~assets/images/blog-me.jpeg');
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // max-height: 600px;
  // height: 80vw;
}
