@import url('https://rsms.me/interface/interface.css');
@import 'mini-reset';
@import 'variables';
@import 'base';
@import 'buttons';
.container.siteContent {
  padding: 1em;
  @media(min-width: 1000px) {
    padding: 2em;
  }
}

a.nav-item.is-hidden-desktop {
  transition: 0.25s ease;
  height: 80%;
  top: 10%;
  position: relative;
  border-radius: 8%;
  margin-left: 4px;

  &:focus,
  &:hover {
    background: #4a4a4a;
    color: white;

    svg {
      color: white;
      transition: .25s ease;
    }
  }
}

.nuxt-progress {
z-index: 9999999 !important;
}

.container.content {
  text-align: left;
  max-width: 800px;
  font-weight: 400;
  // font-size: 1.05em;
  margin-right: auto;
  margin-left: auto;
  padding: 2.5em 1.35em 4.5em;
  font-size: 1.075em;
}
body {
  // font-family: Interface, sans-serif !important;
  @media (max-width: 749px) {
    font-size: 17px !important;
  }
  letter-spacing: .25px;
  font-weight: 400;
  font-size: 17px !important;
  line-height: 1.6;
  color: #333;
  color: #555;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
