article {
  max-width: 780px !important;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2c3e50;

  & > :first-child {
    margin-top: 0;
  }

  ul {
    li {
      margin-top: 0.75rem;
      line-height: 1.4;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  p,
  ul,
  ol {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  p + ul,
  p + ol {
    margin-top: 0.5rem;
  }

  pre {
    code {
      font-size: 14px !important;
    }

    & + p {
      margin-top: 2.5rem;
    }
  }

  h2 {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #f1f1f1;

    & + p,
    & + h3 {
      margin-top: 0.75rem;
    }
  }

  h3 {
    margin-top: .75rem;
    // margin-bottom: 0.25rem;
    padding-top: .75rem;

    & + p {
      margin-top: 0.25rem;
    }
  }
}