$vuepress: #2c3e50;
$primary-color: '#2f365f';

$font-size-root: 17.5px;

$card-title-word-break: break-word;

$code-kbd-font-weight: 400;
$code-kbd-background: red;
$code-kbd-font-size: 0.825em;

$code-background-color: rgba(27, 31, 35, 0.05);
$code-color: #476582;
$code-padding: 0.25rem 0.5rem;

$material-light: (
  // cards: blue,
  text: (
    primary: #2c3e50
  )
);
