pre {
  margin-top: 1em !important;
  margin-bottom: 2em !important;
}

.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply .leading-tight .mb-2;
  }

  li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
    font-weight: 400;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }
}

ul,
ol {
  padding-left: 25px;
  @screen md {
    padding-left: 30px;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

// Custom Containers
.custom-block {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;

  &.tip {
    background-color: #f3f5f7;
    border-color: #42b983;
  }
  &.warning {
    background-color: rgba(255, 229, 100, 0.3);
    border-color: #e7c000;
    color: #6b5900;
  }
  &.danger {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
  }

  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }
}
